{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>
                    {% if category.parent.title is defined %}
                    {{ category.parent.title }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Children</th>
                <td>
                    {% if category.children is defined %}
                        <ul>
                        {% for child in category.children %}
                            <li>{{ child.title }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categories_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categories_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
